<% include ./../_layouts/top %>

<div class="cover-container">
    <div class="inner cover cover-margin">
        <% if(emailVerified){ %>
        <h4 class="form-signin-heading">
            Choose a new password.
        </h4>
        <div class="col-md-6 col-md-offset-3">
            <form class="form-signin" method="POST">
                <label for="inputEmail" class="sr-only">Email</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
                <br>
                <input name="secondPassword" type="password" id="inputSecondPassword" class="form-control" placeholder="Verify Password" required>
                <br>
                <input id="retrieveUser" name="id" type="text" style="display: none;">
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="$('#retrieveUser').val('<%=user_id%>')">Submit</button>
            </form>
        </div>
        <% }else{ %>
        <h4 class="form-signin-heading">
            If you've forgotten your login details, don't worry, they can be retrieved. To start this process please enter your email address below.
        </h4>
        <div class="col-md-6 col-md-offset-3">
            <form class="form-signin" method="POST">
                <label for="inputEmail" class="sr-only">Email</label>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
        <% } %>

    </div>

    <% include ./../_layouts/bottom %>