<% include ./../_layouts/top %>

<div class="cover-container">
    <div class="inner-cover cover-margin">
        <form id="edit_queixinha_form" class="form-signin" action="/queixinhas/edit/save" method="POST">

            <h2>Queixinha tittle:</h2>
            <label for="tittle" class="sr-only control-label">Tittle</label>
            <input name="tittle" type="text" id="tittle" class="form-control" placeholder="Tittle" required autofocus value="<%=queixinha.tittle%>">
            <br>

            <h2>Queixinha:</h2>
            <label for="queixinha" class="sr-only">Queixinha</label>
            <textarea id="queixinha" rows="5" cols="97" form="edit_queixinha_form" name="queixinha" required
                      style="color: rgb(85,85,85);resize: none;"><%=queixinha.description%></textarea>



            <footer class="pull-right">
                <button class="btn btn-sm btn-primary btn-block" name="id" onclick="$(this).val('<%=queixinha.id%>');"
                        type="submit" style="margin-top: 0.3em;">Save Queixinha
                </button>
            </footer>

        </form>
    </div>


<% include ./../_layouts/bottom %>