<div class="mastfoot" style="position: static;">
    <div class="inner">
        <p><a href="http://thoth.cc.e.ipl.pt/classes/PI/1415i/LI51N/info">PI/1415i/LI51N</a> Grupo 17, by Cristiano.</p>
    </div>
</div>
</div>
</div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="http://getbootstrap.com/assets/js/docs.min.js"></script> -->
</body>
</html>
