<% include _layouts/top %>
<div class="cover-container">
<div class="inner cover cover-margin">
    <h1 class="cover-heading">Queixinhas na Net.</h1>

    <p class="lead">Welcome, enjoy blaming others.</p>

    <p class="lead">
        <a href="/about" class="btn btn-lg btn-default">Get Started</a>
    </p>
</div>

<% include _layouts/bottom %>