<% include ./../_layouts/top %>
<div class="cover-container">
    <div class="inner cover cover-margin">

        <h1 class="cover-heading">Queixinhas na Net.</h1>

        <p class="lead">This is where you blame others, where you comment about others blames, basically where you can
            freely
            speak about anything you may have something to say about.</p>

        <p>You can get started by <a href="/register">creating an account</a>, or <a href="/login">signing in</a> if you
            already got one.</p>
    </div>

    <% include ./../_layouts/bottom %>